<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Help Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  <h1>Under maintainance</h1>
  <p>This sit is under maintainance. Please try after 6:00 AM IST Monday</p>
  </body>
  {{> footer}}
</html>